[submodule "sond-bevy-enum-components"]
	path = sond-bevy-enum-components
	url = https://github.com/Waridley/bevy-enum-components.git
[submodule "sond-bevy-particles"]
	path = sond-bevy-particles
	url = https://github.com/Waridley/bevy-particles.git
