[submodule "bevy_rapier"]
	path = bevy_rapier
	url = git@github.com:Waridley/bevy_rapier
[submodule "rapier"]
	path = rapier
	url = git@github.com:Waridley/rapier.git
[submodule "sond-bevy-enum-components"]
	path = sond-bevy-enum-components
	url = git@github.com:Waridley/bevy-enum-components.git
[submodule "sond-bevy-particles"]
	path = sond-bevy-particles
	url = git@github.com:Waridley/bevy-particles.git
