ExtendedMaterial(
	extension: BubbleMaterial(
		glow_color: Rgba ( red: 4.0, green: 1.0, blue: 0.0, alpha: 0.12 ),
	),
	base: StandardMaterial(
		specular_transmission: 1.0,
		thickness: 8.0,
		ior: 3.0,
		perceptual_roughness: 0.3,
		double_sided: true,
	),
)
