ExtendedMaterial(
    extension: ( near_start: 0.0 ),
    base: StandardMaterial(
        base_color: Srgba(( red: 0.01, green: 0.01, blue: 0.01, alpha: 1.0 )),
        reflectance: 0.3,
        perceptual_roughness: 0.0,
    ),
)