#![enable(unwrap_newtypes)]
(
	abil: (
		grounded_booster_charge: 150.0,
		weapon_capacity: 100.0,
		weapon_fill_per_second: 25.0,
		jump_cost: 50.0,
		jump_vel: 48.0,
		dash_cost: 50.0,
		dash_vel: 150.0,
		aoe_cost: 50.0,
	),
	phys: (
		max_speed: 48.0,
		accel: 3.0,
		gravity: 48.0,
		climb_angle: Deg(59.0),
		slide_angle: Deg(59.0),
		hover_height: 2.0,
		collider: (
			radius: 1.2,
		),
	),
)
